/*
*= require font-awesome
*/
@import "./reset";
@import "./variable";
@import "./user";
@import "./flash";
@import "./group";
.wrapper{
  .side-nav {
    width: 300px;
    float: left;
    .account {
      background-color: $nav1-color;
      height: 65px;
      padding-top: 35px;
        .name {
            color: $character-color;
            font-size: 16px;
            padding-left: 20px;
            font-family: Bold;
            display: inline;
        }
        .fa.fa-pencil-square-o{
          color: $character-color;
          padding-top: 5px;
          padding-right: 20px;
          float: right;
        }
        .fa.fa-cog{
          color: $character-color;
          padding-top: 5px;
          padding-right: 20px;
          float: right;
        }
     }
    .group {
      background-color: $nav2-color;
      height: 726px;
        .group_name {
            color: $character-color;
            font-size: 15px;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 5px;
        }
        .group_name--comment{
            color: $character-color;
            font-size: 11px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
    }
  }

  .content {
    height: 550px;
    width: calc(100vw - 300px);
    float: left;
    .content_group {
      height: 65px;
      padding-top: 35px;
      padding-left: 40px;
        .content_group--name {
            color: #333333;
            font-size: 20px;
            display: inline;
        }
        .content_group--edit{
            background-color: $character-color;
            color: $button-color;
            height: 40px;
            margin-right: 40px;
            float: right;
            padding-left: 20px;
            padding-right: 20px;
            border-width: thin;
            border-color: $button-color;
            text-decoration: none;
        }
        .right-header {
            border: 1px solid #38AEF0;
            color: #38AEF0;
            float: right;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
        }
        .content_group--member{
            color: $sub-color;
            padding-top: 15px;
            font-size: 12px;
        }

     }
    .content_message {
      height: 550px;
      padding-top: 46px;
      padding-left: 40px;
      list-style: none;
      background-color: #F2F2F2;
        .content_message--name {
            color: $message-color;
            font-size: 16px;
            font-family: Bold;
            padding-right: 10px;
            float: left;
        }
        .content_message--date{
            color: $sub-color;
            font-size: 12px;
            padding-top: 4px;
        }
        .content_message--comment {
            color: $message-color;
            font-size: 14px;
            padding-top: 10px;
        }
        .content_message--image{

        }
    }
    .content_typemessage {
      background-color: $content-color;
      height: 90px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
        .content_typemessage--space {
            color: $message-color;
            font-size: 16px;
            padding-left: 10px;
            display: inline;
        }
        .chat-message-form__input {
            float: left;
            width: 80%;
            line-height: 30px;
            padding: 10px 15px;
            box-sizing: border-box;
            border-style: none;
        }
        .fileInput {
            display: none;
        }
        .fa-file-image-o{
            background-color: $character-color;
            padding: 17px 10px;
        }
        .content_typemessage--send {
            background-color: $button-color;
            color: $character-color;
            font-size: 16px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 40px;
            float: right;
            height: 50px;
            border-style: none;
        }
    }
  }
}
